<mat-toolbar color="primary">
  <a routerLink="/home"> SoulCamp</a>
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img class="profile-img-toolbar" width="30" height="30"
        [src]="user.photoURL??'assets/images/profilePlaceHolder.jpg'" alt="Profile Picture">
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Entrar
    </button>
  </ng-template>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
  <div class="content">


    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Sair
      </button>
      <button mat-menu-item routerLink="/perfil">
        <mat-icon>person</mat-icon>
        Perfil
      </button>
    </mat-menu>